.windows-group-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.windows-group-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.windows-group-bar-tabs{
  display: flex;
  flex-direction: row;
}

.windows-group-bar-tab{
  display: flex;
}

.active {
  background-color: rgb(32, 32, 32);
}

.windows-group-active-window {
  background-color: rgb(32, 32, 32);
  height: 100%;
}
