.workbench {
  background-color: rgb(80, 80, 80);
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}
.horizontal-handle {
  width: 3px;
  background-color: rgb(31, 31, 31);
}

.vertical-handle {
  height: 3px;
  background-color: rgb(31, 31, 31);
}

.handle:hover{
background-color: rgb(19, 94, 155);
}