.windows-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.windows-panel {
  display: flex;
}

.handle.vertical {
  width: 3px;
  background-color: rgb(31, 31, 31);
}

.handle:hover {
  background-color: rgb(19, 94, 155);
}
